*.py[cod]
dist/
sdist/
build/
*.egg-info/
*.

**/*.ipynb_checkpoints

.dropbox

.DS_Store
Icon

intonatang/data/brain_imaging/*.png
intonatang/data/brain_imaging/*.mat

intonatang/data/subject_data/**/*.mat
intonatang/data/subject_data/**/*.h5

intonatang/data/timit_tokens/*.wav
intonatang/data/tokens/*.wav
intonatang/data/tokens_nonspeech/*.wav

intonatang/processed_neural_data/*.mat
intonatang/processed_timit_data/*.h5
intonatang/results/*.mat

docs/build/